<footer>
  <div class="footer-group">
    <img src="assets/logo.jfif" alt="alternative image" class="footer-logo" />
    <div class="icons-media">
      <img src="assets/face.png" alt="" />
      <img src="assets/linkedin.png" alt="" />
      <img src="assets/instagram.png" alt="" />
    </div>
  </div>
  <div class="footer-group">
    <div class="footer-title">Useful Link</div>
    <div class="footer-container">
      <div>Your Account</div>
      <div>Official website</div>
      <div>Help</div>
    </div>
  </div>
  <div class="footer-group">
    <div class="footer-title">Contact</div>
    <div class="footer-container">
      <div class="icons-group">
        <img src="assets/adress.png" alt="Address Icon" />
        <div>1234 Street Name, City, Country</div>
      </div>
      <div class="icons-group">
        <img src="assets/call.png" alt="Phone Icon" />
        <div>+1 (234) 567-890</div>
      </div>
      <div class="icons-group">
        <img src="assets/gmail.png" alt="Email Icon" />
        <div>contact&#64;company.com</div>
      </div>
    </div>
  </div>
</footer>
